* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: rgb(19, 25, 33);
    height: 60px;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.logo {
    width: 120px;
    height: 50px;
    background-position-y: -40px;
    overflow: hidden;
}

.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}

.border-white:hover {
    border: 1.5px solid #ffffff;
}

.address-container {
    margin-left: 10px;
}

.address-container p {
    margin: 0;
}

.icon-address {
    display: flex;
    align-items: center;
}

.hello {
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}

.search-container {
    margin-left: 25px;
    width: 100%;
    max-width: 640px;
    display: flex;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    outline: 3px solid orange;
}

.search-select {
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}

.lauguge-image {
    width: 40px;
}

.arrow {
    width: 20px;
}

.lauguge-image img {
    width: 100%;
}

.login-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.login-container p {
    margin: 0;
}

.account {
    font-weight: 500;
    font-size: 1.1rem;
}

.return-order-container {
    width: 65px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.return-order-container p {
    margin: 0;
}

.order {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    width: 70px;
}

.cart-container {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.cart-container i {
    font-size: 1rem;
}

.nav {
    height: 40px;
    background-color: #232f3d;
    margin: 0;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.container-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: white;
    list-style: none;
}

.container-nav ul li {
    margin-right: 15px;
}

.container-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 2px;
}

/* Responsive design adjustments */
@media only screen and (max-width: 600px) {
    .container-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container {
        width: 100%;
        max-width: none;
    }
}

